<DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Gallery</title>
  <style type="text/css" media="screen">
  body {
  	background: url(purty_wood.png);
  }
  .container {
  	margin: 0 3%;
  }
  article {
  	width: 200px;
  	padding: 5px;
  	margin: 5px;
  	float: left;
  	background: #f3f3f3;
  }
  footer {
  	clear: both;
  }
  </style>
</head>
 <body>
  <div class="container">
  	
  	<header>
  		<h1>This is a header</h1>
  	</header>
	<section>
	<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
		<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
		<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
		<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
		<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
		<article>
		<h2>Title</h2>
		<p>In all, chartbeat looks like a great tool for organizations to monitor and understand how and where the corporate 
brand is moving across the Internet. We've learned in other courses that user feedback is among the most important 
factors people use when forming an opinion about an organization/facebook page/twitter posture, and Chartbeat looks 
like a viable means for organizations to measure user opinion and feedback on the corporate brand.
		</article>
	</section>
	<footer> This is a footer </footer>
  </div>
 </body>
</html>
